<!-- Footer -->
<div id="footer-wrapper">
    <section class="footer-links-left">

      {% for link in site.data.footer.left_links %}
        <a href="{{ site.baseurl }}{{ link.link }}" style="padding-right: 1em;">
          {{ link.name }}
        </a>
      {% endfor %}

    </section>

    <section class="footer-links-right">

      {% for link in site.data.footer.right_links %}
      <a href="{{ site.baseurl }}{{ link.link }}" style="padding-right:1em; text-decoration:none;">
        {% include social-icon.html icon=link.social_icon %}
      </a>
      {% endfor %}

    </section>
</div>

