<!-- Header -->
<div id="header-wrapper">
  <div id="header">

    <!-- Logo -->
    <div class="header-logo"><a href="/">
      DC Façades
      <svg style="margin-bottom:-5px;" width="40px" height="40px" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path d="m16.961 32.824c1.1758 1.1758 4.6953 9.3906 8.2148 11.738s9.3906 2.3477 9.3906 2.3477 0 2.3477 1.1719 4.6953c1.1758 2.3477 1.1758 3.5195 5.8672 7.043 4.6953 3.5195 5.8672 9.3906 7.043 12.91 1.1719 3.5195-1.1758 4.6953-2.3477 4.6953-3.7109 0-3.5195 1.1758-3.5195 1.1758s4.6953 1.1719 3.5195 4.6953c-1.1758 3.5195 1.1719 8.2148-0.58594 12.91-0.41016 1.1016 0 4.6953 0 4.6953l14.359-14.086 35.133-34.855-25.387-25.355-25.426-25.352-29.781 30.395z"/>
      </svg>
    </a></div>

    <!-- Nav -->
    <nav id="nav">
      <!--<a class="nav-toggle hidden-tablet" id="open-nav" href="javascript:void(0);">&#9776;</a>-->
      <ul>
        <li class="current"><a href="/">Home</a></li>
        <li><a href="javascript:void(0);">About</a></li>
        <li><a href="javascript:void(0);">Work</a></li>
        <li><a href="javascript:void(0);">Awards</a></li>
        <li><a href="javascript:void(0);">Contact</a></li>
      </ul>
    </nav>

  </div>
</div>

<script>
  (function () {

    /* Mobile Header */
    document.getElementById("open-nav").addEventListener("click", function (event) {
      event.preventDefault();
      document.body.classList.toggle("nav-open");
    });

  })();
</script>
