<!-- Posts -->
{% for post in paginator.posts %}
  <div class="blog-article-container">
    <li style="margin-bottom: 4em;">
      <h2>
			  <a href="{{ post.url }}">
			    {{ post.title }}
			  </a>
			</h2>
			{% include post-title.html post=post %}
			<div>
				{{ post.excerpt }}
				<button href="{{ post.url }}">
				  Read More
				</button>
			</div>
    </li>
  </div>
{% endfor %}




<!-- Pagination -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
