header {
	color: #fff;
	padding: 15px 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
	line-height: 0;

	.container {
		line-height: 0;
	}

	&.header-background {
		background-color: rgba(255, 255, 255, .95);
		color: #333;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		transition: background-color 0.2s ease;
		text-shadow: none;

		a {
			color: #333;
			@media #{$mid-point} {
				&:hover {
					border-bottom-color: rgba(80, 80, 80, .3);
					border-bottom-width: 5px;
				}
			}
		}

		.dark-logo {
			display: inline;
		}

		.light-logo {
			display: none;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;
		@media #{$mid-point} {
			height: 100%;
		}
		display: block;

		span {
			display: block;
			height: 100%;
		}

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
		display: inline-block;
	}

	.nav-open nav {
		border-bottom: 1px dotted rgba(255, 255, 255, .2);
		padding: 10px 0;
		a {
			display: block;
			padding: 30px 0;
		}

		@media #{$mid-point} {
			border: 0;
			padding: 0 20px;

			a {
				display: inline;
			}
		}
	}

	nav {
		text-transform: uppercase;
		font-size: .8em;
		width: 100%;
		position: relative;
		top: -7px;
		text-shadow: none;

		@media #{$mid-point} {
			padding: 0 20px;
			display: inline;
		}

		a {
			margin: 0 3px;
			padding: 14px 10px;
			border: 0;
			display: none;

			&.active {
				border-bottom: 5px solid #ffa74d;
			}

			@media #{$mid-point} {
				display: inline;
				border-bottom: 1px solid rgba(255, 255, 255, 0);
				color: rgba(255, 255, 255, .8);

				&:hover {
					border-bottom: 5px solid #ffa74d;
				}
			}

			&.nav-toggle {
				display: inline;
				position: absolute;
				right: 10px;
				top: -7px;
				font-size: 1.9em;
				border: 0;
				text-shadow: 0;
				padding: 0 !important;
				@media #{$mid-point} {
					display: none;
				}

				&:hover {
					border: 0;
				}
			}
		}

	}
}