---
layout: default
---
{% assign page_category = page.title %}

<section>
  <ul>

    {% for post in site.posts %}
    {% for category in post.categories %}
    {% if category == page_category %}
    <li style="margin-bottom: 4em;">
      <h2>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
      {% include post-title.html post=post %}
      <div>
        {{ post.excerpt }}
        <a href="{{ post.url }}">
          <button>
            Read More
          </button>
        </a>
      </div>
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}

  </ul>

</section>
