#about-page-wrapper {
  .sidebar {
    header, p {
      margin-bottom: 0;
    }

    footer {
      margin-top: 0.5em;
    }
  }

  p {
    font-size: 1.1em;
  }

  .staff {
    img {
      padding: 1.5em 2em 0 2em;
    }

    p {
      margin: 0;
    }
  }

  .image {
    background: gray;
  }
}